.Checkout-box{
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.Checkout-T-Q{
    display: flex;
    justify-content: space-between;
}
.checkout-image{
    width: 50px;
    height: 70px;
    margin: 5px;
}
.totalpage-h3 {
    margin: 10px;
    color: gray;
}
.checkout-cart-data{
    width: 50%;
}

@media only screen and (max-width:400px) {
.Checkout-box {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.checkout-cart-data {
width: 90%;
margin-left: 10px;
}
.checkout-btn {
    padding: 7px;
    margin: 10px;
    background-color: var(--third-color);
    color: var(--white-color);
    border-radius: 5px;
    text-decoration: none;
    /* margin-bottom: 46px; */
}
}